/* DARK MODE COLOR PALETTE */
/* DARKEST #2A2438*/
/* DARK ACCENT #352F44*/
/* LIGHT ACCENT #5C5470*/
/* LIGHTEST #DBD8E3*/

/* LIGHT MODE COLOR PALETTE */
/* DARKEST #456268*/
/* DARK ACCENT #79a3b1*/
/* LIGHT ACCENT #d0e8f2*/
/* LIGHTEST #FCF8EC */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #79a3b1;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

.timer {
    width: 50vmin;
    transform: translate(-50%,0);
    left: 50%;
    position: fixed;
    top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 24px 36px;
    border-radius: 30px;
    background-color: #fcf8ec;
    box-shadow: 0 10px 25px #4562683d;
    z-index: 1;
}

#timer-icon {
    margin-right: 16px;
    color: #456268;
}

.timer-part {
    font-size: 36px;
    font-weight: bold;
    color: #456268;
}

.timer-button {
    width: 50px;
    height: 50px;
    background-color: #d0e8f2;
    margin-left: 16px;
    border-radius: 25px;
    cursor: pointer;
}

.timer-start {
    background-color: #d7f2d0;
}

.timer-stop {
    background-color: #f2d0d0;
}

.container {
    background-color: #fcf8ec;
    width: 90vmin;
    height: 75vh;
    padding: 50px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0 25px 50px #4562689a;
    align-items: center;
}

#text-input {
    border: 1px solid #d0e8f2;
    padding: 20px;
    font-size: 24px;
    height: 60vh;
    text-indent: 1em;
    overflow: auto;
}

#word-goal:focus {
    outline: 0px solid transparent;
}

.material-icons {
    font-size: 40px !important;
}

button {
    height: 40px;
    width: 40px;
    display: grid;
    place-items: center;
    border-radius: 3px;
    border: none;
    background-color: #fcf8ec;
    color: #456268;
}

.counter {
    background-color: #456268;
    width: 60vmin;
    padding: 20px;
    position: fixed;
    bottom: 0;
    transform: translate(-50%, -50%);
    left: 50%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 20px 40px #4562689a;
}

.counter p{
    color: #d0e8f2;
    font-size: 22px;
}

.counter h5{
    color: #fcf8ec;
    font-size: 40px;
}

.achieved {
    color: #fcc55f !important;
}